ul {

    background-color: skyblue;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    
    
}

li {
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    border-right: 1px solid #ddd;
    
    
        
}

.ss:hover{
    
    background-color: deeppink;
    
}
a{
    text-decoration: none;
    
}