body{
  background-color: darkseagreen;
}


.box-product{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  justify-items: center;
  
}

button{
  
  background-color: maroon;
  margin-top: 10px;
  border-radius: 5px;
  
}

img{
  width: 200px;
  border: 3px solid #fff;
  border-radius: 3px;
}


figure{
  display: grid;
  text-align: center;
}



@media screen and (max-width:992px){
  .box-product{
    grid-template-columns: repeat(3,1fr);
  }

  
}


@media screen and (max-width:600px){
  .box-product{
    grid-template-columns: repeat(2,1fr);
  }

  
}
